:root {
  --maxContentWidth: 700px;
  --headingColor: #d87800;
  --postHeadingFirstColor: #57bb56;
}

* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

body {
  color: #353535;
  line-height: 1.5;
  font-family: $font-sans-serif;
  font-size: 16px;
}

.container {
  max-width: var(--maxContentWidth);
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 2;

  @media (max-width: $max-width-sm) {
    padding: 0 20px;
  }
}
