
.post-header {
  .date {
    text-align: right;
    color: #9A9A9A;
    font-size: 14px;
  }

  .back {
    color: #9A9A9A;
    display: block;
    max-width: var(--maxContentWidth);
    margin: 0 auto 2em auto;
    font-family: $font-sans-serif;
    font-size: 14px;
    text-transform: uppercase;

    &:before {
      content: '←';
      display: inline-block;
      position: relative;
      margin-right: 8px;
    }

    a {
      color: #9A9A9A;

      &:hover {
        color: var(--headingColor);
        text-decoration: underline;
      }
    }
  }
}
